main{
    width: 100%;
}

.main_div{
    margin-top: 100px;
    width: 600px;
    background-color: #cccccc;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

form > label{
    color: white;
    font-size: 2rem;
}

.submitBtn{
    margin: 10px auto;
}