.data-input {
    width: 400px;
    margin: 50px auto;
}

.data-input > form {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
}

.input-text {
    width: 100%;
    margin-top: 50px;
}

.addImg {
    margin: 50px auto;
}

.imgInput{
    margin: 20px auto;
}