ul {
    list-style-type: none;
}

.search {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3%;
    width: 626px;
    height: 2rem;
}

.search > form > * {
    height: 100%;
    width: 100%;
}

.buttons {
    width: 500px;
    display: flex;
    flex-direction: row;
}

.buttons > * {
    height: 40px;
    width: 100px;
}

.imgListDiv{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: scroll;
}

.imgList {
    padding: 0 2%;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
    align-items: flex-start;
}

.imgListEl {
    margin: 40px auto 5% auto;
}

.cardImg {
    position: relative;
    border-radius: 5px;
}

.cardTitle {
    padding: 10px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    color: white;
}