.login {
    margin: 50px auto;
    height: auto;
    width: 450px;
    background-color: #cccccc;
    border-radius: 10px;
    padding: 10px 20px;
}

.login > form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.login > form > input {
    margin-top: 50px;
}

.login > p {
    width: max-content;
}