* {
    font-family: 'Source Code Pro';
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main";
}

header {
    background-color: darkorange;
    color: white;
    height: 5rem;
    grid-area: header;
}

header > * {
    margin: 0;
    height: 3rem;
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: row;
}

h1 {
    left: 1rem;
}

.user {
    right: 0px;
    top: 0px;
    width: 215px;
    height: 80px;
    align-items: center;
    padding: 10px;
}

.user:hover {
    right: 0px;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.user > h3 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
}

.user > h3 > a {
    text-align: center;
    color: white;
    text-decoration: none;
}

main {
    grid-area: main;
}

.centerHorizontal {
    margin-left: auto;
    margin-right: auto;
}

.centerVerticaly {
    margin-top: auto;
    margin-bottom: auto;
}

.shadow{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.userMenu-active{
    background-color: darkorange;
    position: absolute;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 250px;
    float: right;
    text-align: center;
    box-shadow: 0px 1px 5px;
    animation-name: slideLeft;
    animation-duration: 0.4s;
}

.userMenu-active > *{
    color: white;
}

.userMenu-active > div{
    height: 120px;
}

.userMenu-active > div > div{
    margin-top: 24px;
    margin-bottom: 24px;
    width: 210px;
    float: right;
}

.userMenu-active > div > *{
    cursor: pointer;
    font-size: 1.5rem;
}

.userMenu-active > div > div{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.userMenu-active > div > div:hover{
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 10px;
}

.userMenu-active > ul{
    list-style: none;
    margin-right: 40px;
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
}

.userMenu-active > ul > li{
    margin-top: 20px;
}

.userMenu-active > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 3px;
}

.userMenu-active > ul > li > a:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 5px;
}